{% extends 'front/base.html.twig' %}

{% block title %}New Reclamations{% endblock %}

{% block body %}
    <h1 style="color: #B0413E; text-align: center;">Add new Reclamation</h1>

    {{ include('front/reclamations/_form.html.twig') }}

{% endblock %}
