{% extends 'baseBack.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
               <!-- Section Title -->
               <br><br>
      <div class="container section-title" data-aos="fade-up">
        <span class="">Edit Event<br></span>
        <h2 class="">Edit Event<br></h2>
        <p>Edit the selected event </p>
      </div><!-- End Section Title -->

    {{ include('back/events/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_eventsBack_index') }}">back to list</a>
    <br>

    {{ include('back/events/_delete_form.html.twig') }}
    <br><br><br>
{% endblock %}
