{% extends 'base.html.twig' %}

{% block title %}Edit Investissements{% endblock %}

{% block body %}
    <h1>Edit Investissements</h1>

    {{ include('front/investissements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_investissements_index') }}">back to list</a>

    {{ include('front/investissements/_delete_form.html.twig') }}
{% endblock %}
