<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banned Account</title>
    <a  href="{{ path('login') }}"><span>Logout</span></a>
    <h1> --------------------------------------------------------------------------- YOU AER BANNED---------------------------------------------------------------------------- </h1>


</head>
<body>

</body>
</html>