{% extends 'base.html.twig' %}

{% block title %}New Reponses{% endblock %}

{% block body %}
    <h1 style="color: #B0413E; text-align: center;">Add new Reponse</h1>

    {{ include('reponses/_form.html.twig') }}

{% endblock %}
