{% extends 'baseUsers.twig' %}

{% block body %}

    {# <a href="https://example.com" id="top-left-link">Your Link Text Here</a> #}

    <h4><a   href="{{ path('login') }}"><span>Logout</span></a></h4>

    <div class="container">

        <h1>Welcome to Your Owner Dashboard, {{ user.nom }}!</h1>

        <p>Email: {{ user.email }}</p>
        <p>Role: {{ user.role }}</p>
        {# Add more user information as needed #}
    </div>
{% endblock %}