<form method="post" action="{{ path('app_comment_delete', {'commentid': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button type="submit" class="btn">Delete</button>
</form>
