{{ form_start(form) }}
    {{ form_widget(form.comment) }}
    {{ form_widget(form._token) }} {# Add the CSRF token field #}
    <button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}
